*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  /*font-family: "Nunito Sans", sans-serif;*/
  font-family: "Montserra", sans-serif;
}
header{

  background-color: #eff0f2;
}
.submenu{
  display: none;
}
.topmenu li:hover

.submenu{
  display: block;
  float: right;
  font-size: 24px;

}

.topmenu .submenu {
  color: black;
}
.submenu-link{
  padding: 80px 50px 0 0;
  color: black;
  float: right;
  font-size:30px;
}
li a{
  color: gray;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: silver;
}

.header_logo{
  float: left;
  width: 150px;
  cursor: pointer;
}

.topnav a{
  display:  none;
}
.topnav a.icon{
  float: left;
  width: 100%;
  display: block;
  color: #000;
  font-size: 25px;
}

.header_logo img{
  padding: 70px;
}

header .main_welcom{
  text-align: center;
  color: gray;
}
.blue{
  background-color: #b2f2ee;
  display: inline;
}
header h1{
  padding: 300px 0 150px 0;
  font-size: 50px;
}
.cont{
  padding: 0 43%;
  padding-bottom: 0;
}
.Glass{
  float:left;
  padding: 0 75px;
  background-color: #eff0f2;
  display: block;
}
.ABOUT {
  font-size: 40px;
  text-align: center;
  padding: 18% 0 0 0;
}
.text1{
  color: #5e5f5f;
  text-align: center;
  font-size:40px;
}
.stl{
  width: 600px;
  padding: 100px 50px;
  float: left;
  display: block;
}
.text2_{
  padding: 100px;
  color: gray;
  font-size: 30px;
}
.text2{
  display: block;
  color: gray;
  font-size: 30px;
  padding: 20px 10%;
}
.text2_1{
  padding: 50px;
  color: gray;
  font-size: 30px;
}
.works{
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 18% 0 0 0;
}

.text3{
  color: #5e5f5f;
  text-align: center;
  font-size:40px;
  padding-bottom: 125px;
}
.img1{
  width: 360px;
  height: 360px;
}
.line1 {
  text-align: center;
}
.line2 {
  text-align: center;
}
.img1{
  margin-right: 30px;
  margin-bottom: 30px;
}
.our{
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  margin-top: 250px;
}
.line3{
  text-align: center;
}
.line4{
  text-align: center;
}
.line5{
  text-align: center;
}

.team{
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  margin-top: 250px;
}
.what_s{
  background-color: #f9fbfb;
}
.say1{
padding-left: 50px;
}

.comp{
  margin: 125px 0 125px 0;
  padding-left: 10%
}
.cont{
  margin-top: 150px
}
.cont{
  display: flex;
  text-align: center;
}
.backg{
  z-index: 0;
  position: absolute;
}
.cont{
  left: -100px;
  z-index: 1;
  text-align: left;
}
.adres{
  z-index: 2;
}
.send{
  opacity: 0.6;
  background-color: #495862;
  width: 650px;
  height: 500px;
  margin-right: 50px;
}
.button{
  border-radius: 4px;
  padding: 15px;
}
.in1{
  background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
}


footer{
  width: 100%;
  height: auto;
  background-color: #262b2e;
  padding: 50px 0 50px 0;
}
.follow{
  text-align: center;
  margin-bottom: 20px;
}
.all_r{
  text-align: center;
  color: gray;
}
.social {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  }
.social img{
  margin-left: 12px;
  cursor: pointer;
}
